.section-cta {
	padding: 9.6rem 0;
}

.cta {
	display: grid;
	grid-template-columns: 2fr 1fr;
	background-color: #e67e22;
	box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
	border-radius: 12px;
	background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
	height: 50rem;
	overflow: hidden;
}

.cta-text-box {
	color: #45260a;
	padding: 4.8rem 6.4rem 6.8rem;
}

.cta .secondary-heading {
	color: #45260a;
	margin-bottom: 3.2rem;
}

.cta-text {
	font-size: 1.8rem;
	line-height: 1.8;
	margin-bottom: 4.8rem;
}

.cta-image-box {
	background-image: linear-gradient(to right bottom, rgba(235, 151, 78, 0.35), rgba(230, 125, 34, 0.35)),
		url('../images/eating.jpg');
	background-size: cover;
	background-position: center;
}

.cta-form {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 3.2rem;
	row-gap: 2.4rem;
}
