.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fdf2e9;
	height: 9.6rem;
	padding: 0 4.8rem;
	position: relative;
}

.header-logo {
	height: 2.2rem;
}

.main-navigation-list {
	display: flex;
	align-items: center;
	gap: 4.8rem;
	list-style: none;
}

.main-navigation-link:link,
.main-navigation-link:visited {
	text-decoration: none;
	color: #333;
	font-size: 1.8rem;
	font-weight: 500;
	transition: all 0.3s;
	display: inline-block;
}

.main-navigation-link.nav-cta:link,
.main-navigation-link.nav-cta:visited {
	color: #fff;
	background-color: #e67e22;
	padding: 1.2rem 2.4rem;
	border-radius: 8px;
}

.main-navigation-link.nav-cta:hover,
.main-navigation-link.nav-cta:active {
	background-color: #cf711f;
}

.main-navigation-link:hover,
.main-navigation-link:active {
	color: #cf711f;
}

.sticky .header {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 8rem;
	padding-top: 0;
	padding-bottom: 0;
	z-index: 999;
	background-color: rgba(255, 255, 255, 0.97);
	box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
	margin-top: 9.6rem;
}

.button-mobile-navigation {
	border: none;
	background: none;
	cursor: pointer;
	display: none;
}

.icon-mobile-navigation {
	font-size: 4.8rem;
	color: #333;
}

.icon--close {
	display: none;
}
