/* 1rem = 1em = 16px */

/* smaller desctops 1344px   1344/16 = */

@media (max-width: 84em) {
	.hero {
		max-width: 120rem;
	}

	.hero-heading-primery {
		font-size: 4.4rem;
	}

	.gallery {
		grid-template-columns: 1fr 1fr;
	}
}
